<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
      var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="store.js" defer></script>
  </head>
  <body>
    <% items.item.forEach(function(item){ %>
    <div class="shop-item" data-item-id="<%= item.id %> ">
      <h1>Buy 1 <%=item.name%> for Haesoo Lee</h1>
      <img src="./Image/<%=item.name%>.jpg" alt="coffee" width="200px" />
      <label for="btn-<%=item.name%>"
        ><%=item.name%> $<%=item.price / 100%></label
      ><button id="btn-<%=item.name%>" value="<%= item.price / 100 %>">Purchase</button>
    </div>
    <% })%>
  </body>
</html>
